<!--<h1 [class]="colorText">Hello {{title}} </h1>-->

<!--<p [ngClass]="displayContent? 'myBlueText': 'myRedText'">Ny name is {{person.name}}</p>-->
<!--<p>My surname is {{person.surname}}</p>-->

<input type="text" [(ngModel)]="name" />
<h3>{{name}}</h3>

<!--<img [src]="imageUrl" />-->

<!--<ul>-->
  <!--<li *ngFor="let item of items; let i = index">-->
    <!--{{i}} {{item}}-->
  <!--</li>-->
<!--</ul>-->
<!--<h4 [ngStyle]="myStyleObject"> displayContent {{displayContent}}</h4>-->
<!--<p *ngIf="displayContent">Only display when  displayContent is true</p>-->

<!--<button (click)="perform()">Click me</button>-->



